html, body {
    overflow-x: hidden;
}

body {
    font-family: "Alegreya Sans", sans-serif;
    margin: 0 auto;
    padding: 0;
    background-image: url(assets/background-pattern.png)
}

/* ======================= start Header ======================= */
header {
    width: 960px;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.logo, .cart, .search, .right-arrow, .icon, .go-btn,
.footer-logo, .gallery-left, .gallery-right,
.instagram, .facebook, .twitter, .pinterest,
.shipping-icon, .shipping-right {
    background: url(assets/spritesheet.png) no-repeat 0 0;
}

.header-bg {
    background-color: #201205;
    position: relative;
    color: white;
}

.header-bg:before, .header-bg:after {
    content: "";
    position: absolute;
    background: #201205;
    top: 0;
    bottom: 0;
    width: 9999px;
}

.header-bg:before {
    right: 100%;
}

.header-bg:after {
    left: 100%;
}

.header-border {
    background-color: #fcf9f4;
    position: relative;
    height: 1px;
}

.header-border:before, .header-border:after {
    content: "";
    position: absolute;
    background: #fcf9f4;
    top: 0;
    bottom: 0;
    width: 9999px;
}

.header-border:before {
    right: 100%;
}

.header-border:after {
    left: 100%;
}

.account {
    margin-left: 780px;
    display: inline-block;
    margin-top: 20px;
}

.cart {
    background-position: -300px 0;
    width: 19px;
    height: 16px;
    display: inline-block;
    margin: 0 20px 0 20px;
}

.search {
    background-position: -350px 0;
    width: 19px;
    height: 16px;
    display: inline-block;
}

.logo {
    background-position: 0 0;
    width: 258px;
    height: 61px;
    display: inline-block;
    margin: 0 40px -25px 0;
}

nav a {
    margin: 0 25px 50px 0;
    display: inline-block;
    text-transform: uppercase;
}

nav a:hover, nav a:active {
    color: #d57626;
}

.caret {
    font-size: 9px;
    vertical-align: middle;
}

.more-menu {
    position: relative;
    display: inline-block;
}

.more-menu ul {
    display: none;
    list-style: none;
    padding: 10px;
    margin-left: -20px;
}

.more-menu li {
    width: 100px;
    padding: 10px;
}

.more-menu li a {
    margin: 0;
    padding: 0;
}

.more-menu:hover ul {
    display: block;
    position: absolute;
    z-index: 999;
    top: 5px;
    background-color: #222021;
}

.social-media {
    background-color: rgba(255, 255, 255, .25);
    padding: 1px;
    position: fixed;
    z-index: 999;
    left: 100%;
    margin: 20px 0 0 -47px;
}

.social-media a {
    width: 22px;
    height: 22px;
    display: block;
    margin: 15px 10px 15px 15px;
}

.instagram {
    background-position: -500px 0;
}

.instagram:hover {
    background-position: -500px -100px;
}

.facebook {
    background-position: -500px -50px;
}

.facebook:hover {
    background-position: -500px -150px;
}

.twitter {
    background-position: -550px 0;
}

.twitter:hover {
    background-position: -550px -100px;
}

.pinterest {
    background-position: -550px -50px;
}

.pinterest:hover {
    background-position: -550px -150px;
}
/* ======================= end Header ======================= */

/* ==================== start index Main ==================== */
.office-text {
    color: white;
    position: absolute;
    top: 265px;
    left: 300px;
    margin: 0 auto;
}

.office-text h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
}

.office-text p {
    font-style: italic;
    font-weight: 100;
    font-size: 28px;
    display: inline-block;
    width: 350px;
}

.shop-now-btn {
    text-transform: uppercase;
    border: 2px solid #fff;
    width: 140px;
    height: 40px;
    font-size: 21px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    margin: -30px 0 0 80px;
}

.shop-now-btn:hover {
    background-color: #d57626;
}

.office-caddy {
    background: url(assets/office-caddy.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 507px;
    display: block;
    margin: 0 auto;
}

.main-container {
    margin: 0 auto;
    width: 960px;
}

.gallery {
    color: #38230e;
    margin-top: 30px;
    text-align: center;
}

.title-small {
    font-family: "Alegreya Sans SC", sans-serif;
    font-style: italic;
    font-size: 21px;
}

.gallery h2 {
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 800;
    margin: 0;
}

.gallery hr {
    border: 0;
    border-top: 3px solid #a2a09e;
    width: 300px;
}

.gallery p {
    font-style: italic;
    font-weight: 100;
    font-size: 21px;
    width: 600px;
    margin: 0 auto;
}

.gallery-images > div, .parent-images > div {
    float: left;
    margin: 20px 20px 0 0;
    background: #d57626;
    position: relative;
}

.gallery-images > div:last-child, .parent-images > div:last-child {
    margin-right: 0;
}

.gallery-images img, .parent-images img {
    display: block;
}

.gallery-images > div:hover img, .parent-images > div:hover img  {
    opacity: .15;
}

.gallery-images > div > span, .parent-images > div > span  {
    display: none;
    position: absolute;
    width: 100%;
    font-weight: 500;
    font-size: 21px;
    font-style: italic;
    color: white;
    top: 100px;
    text-transform: uppercase;
}

.gallery-images > div:hover > span, .parent-images > div:hover > span {
    display: block;
}

.view-more-btn {
    text-transform: none;
    border: 2px solid #fff;
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
}

.more-collections {
    font-family: "Alegreya Sans SC", sans-serif;
    color: #a2a09e;
    font-size: 21px;
    margin: 30px 0 30px 0;
    display: inline-block;
}

.gallery-left {
    background-position: -100px -100px;
    margin-right: 7px;
}

.gallery-right {
    background-position: -200px -100px;
    margin-left: 7px;
}

.gallery-left, .gallery-right {    
    width: 7px;
    height: 12px;
    display: inline-block;
}

.gradient-top, .gradient-bot {
    height: 15px;
    opacity: .15;
    margin-bottom: -10px;
}

.gradient-top {
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(
        center top, 
        ellipse farthest-side, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(
        center top, 
        ellipse farthest-side, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
    /* Opera */ 
    background-image: -o-radial-gradient(
        center top, 
        ellipse farthest-side, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(
        radial, 
        center top, 0, 
        center bottom, 477, 
        color-stop(0, rgba(0,0,0,1)), 
        color-stop(1, rgba(0,0,0,0))
    );
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(
        center top, 
        ellipse farthest-side, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(
        ellipse farthest-side at center top,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0) 100%
    );
}

.gradient-bot {
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(
        center bottom, 
        ellipse farthest-side, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(
        center bottom, 
        ellipse farthest-side, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
    /* Opera */ 
    background-image: -o-radial-gradient(
        center bottom, 
        ellipse farthest-side, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(
        radial, 
        center bottom, 0, 
        center bottom, 477, 
        color-stop(0, rgba(0,0,0,1)), 
        color-stop(1, rgba(0,0,0,0))
    );
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(
        center bottom, 
        ellipse farthest-side, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(
        ellipse farthest-side at center bottom,
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%
    );
}

.main-container > hr, footer > hr {
    position: relative;
    margin-bottom: 20px;
    margin-left: -999px;
    width: 9999px;
    opacity: 0.7;
}

.product {
    position: relative;
    margin-top: 30px;
}

.product a {
    font-family: "Alegreya Sans", sans-serif;
    font-style: italic;
    font-size: 28px;
    color: #a2a09e;
}

.product h2 {
    font-family: "Alegreya Sans", sans-serif;
    font-style: normal;
    font-size: 37px;
    text-transform: uppercase;
    color: #d57626;
    width: 240px;
    margin: 5px 0 5px 0;
}

.product hr {
    border: 0;
    border-top: 3px solid #a2a09e;
    width: 240px;
    margin: 0 auto 15px auto;
}

.product hr:first-child {
    margin: 15px auto 0 auto;
}

.product1 {
    width: 320px;
    background-color: #dfddda;
    height: 260px;
    text-align: center;
}

.product1:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.product1, .product2 {
    float: left;
}

.product-text {
    display: inline-block;
    vertical-align: middle;
}

.product2 {
    margin-right: 20px;
}

.product-subtext {
    width: 240px;
    margin: 0 auto;
}

.right-arrow {
    background-position: 0 -100px;
    display: inline-block;
    width: 10px;
    height: 17px;
    margin-left: 5px;
}

/* ==================== end index Main ==================== */

/* ===================== start Footer ===================== */
footer > hr {
    margin-bottom: 0;
    border-bottom: 1px solid #7f7f7f;
}

.welding {
    background: url(assets/blaze_welding.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 360px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.welding-text {
    color: white;
    position: absolute;
    top: 22%;
    left: 45%;
    text-align: center;
    text-shadow: 2px 2px 8px #000;
}

.welding-text span {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
}

.welding-text span:nth-of-type(2) {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.welding-text > hr {
    border: 0;
    border-top: 2px solid #fff;
    width: 240px;
    margin: 10px auto 10px auto;
}

.steelman-info {
    text-align: center;
}

.steelman-info > div {
    width: 340px;
    display: inline-block;
    margin: 40px auto 35px auto;
    color: #222021;
    text-align: center;
}

.steelman-info h3 {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 15px 0;
}

.steelman-info p {
    margin: 0;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
    width: 300px;
    display: inline-block;
}

.icon {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.handmade.icon {
    background-position: 0 -200px;
}

.crafted.icon {
    background-position: -200px -200px;
}

.perfect.icon {
    background-position: -400px -200px;
}

.newsletter {
    background-color: #d57626;
    color: white;
    text-align: center;
}

.newsletter:before, .newsletter:after {
    content: "";
    position: absolute;
    background: #d57626;
    top: 0;
    bottom: 0;
    width: 9999px;
}

.newsletter:before {
    right: 100%;
}

.newsletter:after {
    left: 100%;
}

.newsletter p {
    display: inline-block;
    vertical-align: middle;
    color: #d7d6d3;
    font-weight: 300;
    font-style: italic;
    font-size: 21px;
    margin-right: 20px;
}

.newsletter > input {
    border-radius: 30px;
    width: 230px;
    height: 34px;
    font-size: 14px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background-color: #d8d6d3;
    border: 2px solid #a96023;
    margin-right: 10px;
}

.newsletter ::-webkit-input-placeholder {
    color: #a96023;
    opacity: .25;
}

.newsletter :-moz-placeholder { /* Firefox 18- */
    color: #a96023;
    opacity: .25;
}

.newsletter ::-moz-placeholder {  /* Firefox 19+ */
    color: #a96023;
    opacity: .25;
}

.newsletter :-ms-input-placeholder {
    color: #a96023;
    opacity: .25;
}

.go-btn {
    background-position: -400px 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.footer {
    background-color: #222021;
    position: relative;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 10px 0;
}

.footer:before, .footer:after {
    content: "";
    position: absolute;
    background: #222021;
    top: 0;
    bottom: 0;
    width: 9999px;
}

.footer:before {
    right: 100%;
}

.footer:after {
    left: 100%;
}

.footer-logo {
    background-position: -300px -50px;
    width: 141px;
    height: 141px;
    display: inline-block;
}

.footer ul {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    text-transform: uppercase;
    color: #fcf9f4;
    width: 11%;
    padding: 0;
}

.footer li {
    text-transform: none;
    margin-top: 3px;
    font-weight: 300;
}

.footer a {
    color: #c5c0bc;
}

.categories h4 {
    color: #75706c;
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 10px;
}

.categories hr {
    width: 960px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #64605c;
    margin: 0 auto;
}

.copyright {
    font-family: "Lato", serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #838383;
    margin-top: 40px;
    display: inline-block;
}
/* ===================== end Footer ===================== */

/* ============= start parent-category Main ============= */
.athletes-banner {
    background: url(assets/athletes.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 140px;
    display: block;
    margin: 0 auto;
}

.secondary-nav {
    font-family: "Myriad Pro", serif;
    font-size: 14px;
    color: #423c3c;
    margin: 40px 0 30px 0;
    word-spacing: 3px;
}

.secondary-nav a {
    font-family: "Myriad Pro", serif;
    font-size: 14px;
    color: #423c3c;
    margin: 0;
    text-transform: none;
}

.secondary-nav span {
    color: #d57626;
}

.athletes-info, .free-shipping {
    width: 300px;
    height: 260px;
    padding-top: 40px;
    background-color: #201205 !important;
}

.athletes-info hr {
    border: 0;
    border-top: 3px solid #a2a09e;
    width: 240px;
    margin: 0 auto 10px auto;
}

.parent-images {
    margin-bottom: 20px;
}

.parent-images h2 {
    color: #d57626;
    font-size: 37px;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.athletes-info ul {
    list-style: none;
    color: #c5c0bc;
    text-align: center;
    padding: 0;
    margin: 25px 0 0 0;
}

.parent-images > div > span {
    top: 140px;
    text-align: center;
}

.shipping-icon {
    background-position: 0 -400px;
    width: 71px;
    height: 56px;
    display: inline-block;
}

.free-shipping {
    padding-top: 55px;
    height: 245px;
    color: #c5c0bc;
    text-align: center;
}

.free-shipping p {
    margin: 0 25px 0 27px;
    text-align: left;
    line-height: 20px;
}

.shipping-right {
    background-position: 0 -150px;
    width: 8px;
    height: 12px;
    display: inline-block;
}
/* ============== end parent-category Main ============== */

/* ================== start about Main ================== */
.about-banner {
    background: url(assets/office-caddy2.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    width: 1100px;
    height: 140px;
    display: block;
    margin: 0 auto 40px auto;
    position: relative;
}

.about-banner:before, .about-banner:after {
    position: absolute;
    content: "";
    top:0;
    bottom: 0;
    background-color: #fcf9f4;
    width: 9999px;
}

.about-banner:before {
    right: 100%;
}

.about-banner:after {
    left: 100%;
}

.main-container {
    text-align: center;
}

.main-container > hr {
    border: 0;
    border-top: 3px solid #a2a09e;
    width: 960px;
    margin: 0;
}

.about.main-container > hr:nth-of-type(3) {
    width: 622px;
    display: inline-block;
    margin-top: 20px;
}

.main-container > h1 {
    font-size: 37px;
    text-transform: uppercase;
    color: #d57626;
    margin: 5px 0 5px 0;
}

.about.main-container > h2 {
    font-size: 37px;
    width: 410px;
    color: #211306;
    text-align: center;
    display: inline-block;
    margin: 20px 0 0 0;
}

.about.main-container > p {
    width: 622px;
    display: inline-block;
}
/* ================== end about Main ================== */

/* ================ start contact Main ================ */
.contact.main-container, .support.main-container {
    margin-top: 75px;
}

.contact-img, .contact-forms {
    margin-top: 10px;
}

.contact-img {
    width: 48%;
    display: inline-block;
}

.contact-forms {
    color: #423c3c;
    font-size: 14px;
    width: 48%;
    display: inline-block;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 35px;
    vertical-align: top;
}

.contact-forms p {
    margin-bottom: 5px;
}

.contact-forms input, .contact-forms textarea {
    width: 207px;
    height: 36px;
    font-size: 14px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #919191;
    margin: 15px 0 0 0;
}

.contact-forms ::-webkit-input-placeholder {
    color: #423c3c;
    opacity: 1;
    font-style: italic;
    font-family: "Alegreya Sans", sans-serif;
}

.contact-forms :-moz-placeholder { /* Firefox 18- */
    color: #423c3c;
    opacity: 1;
    font-style: italic;
    font-family: "Alegreya Sans", sans-serif;
}

.contact-forms ::-moz-placeholder {  /* Firefox 19+ */
    color: #423c3c;
    opacity: 1;
    font-style: italic;
    font-family: "Alegreya Sans", sans-serif;
}

.contact-forms :-ms-input-placeholder {
    color: #423c3c;
    opacity: 1;
    font-style: italic;
    font-family: "Alegreya Sans", sans-serif;
}

.contact-forms input:nth-of-type(even), .contact-forms input:nth-of-type(5) {
    float: right;
}

.contact-forms input:nth-of-type(5) {
    width: 140px;
    height: 40px;
    padding: 0;
    text-transform: uppercase;
    background-color: #d57626;
    font-weight: 600;
    font-size: 12px;
    border: 0;
    cursor: pointer;
}

.contact-forms textarea {
    width: 438px;
    height: 154px;
    padding: 10px 10px 10px 10px;
}

/* ================= end contact Main ================= */

/* ================ start support Main ================ */

/* ================= end support Main ================= */







